.jobHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--color-neutral-lightest-content-bg);
  padding: 49px 0 32px;
  border-radius: 6px;

  .logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }

  .url {
    margin: 13px 0 27px;
  }
}