:root {
  // Primary colors
  --color-primary-light: #C5C9F4;
  
  --color-primary-medium: #5964E0;
  --color-primary-medium-transparent-20: #5964E033;
  
  --color-primary-dark: #19202D;
  --color-primary-dark-text: #19202D;
  
  --color-primary-darkest: #121721;
  --color-primary-darkest-text: #121721;

  // Neutral colors
  --color-neutral-lightest: #FFFFFF;
  --color-neutral-lightest-content-bg: #FFFFFF;
  
  --color-neutral-light: #F4F6F8;
  --color-neutral-light-bg: #F4F6F8;
  
  --color-neutral-medium: #9DAEC2;
  
  --color-neutral-dark: #6E8098;
  --color-neutral-dark-content: #6E8098;
}