.header {
  padding: 32px 24px 72px;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/assets/bg-pattern-header-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}